asgiref
autopep8
django
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
sqlalchemy
webscreenshot
netaddr
pymetasploit3
psutil
django-allauth
django-environ
djangosaml2
pymongo
jira