#!/bin/bash

if test "f$1" "=" "f"
then 
    echo "Error, please specify a JobID"
    exit 1
fi
. /opt/asf/tools/scripts/arguments <name of your module> $1
DATE_STAMP=`date +"%Y%m%d%H%M%S"`
JOB_FOLDERS="/home/asf/jobs"
JOB_FOLDER="$JOB_FOLDERS/$1"
JOB_OUTPUT_FOLDER="$JOB_FOLDER/$DATE_STAMP"
TERM="xterm"
if ! test -e "$JOB_FOLDER"
then 
    echo "Error, JobID $1 is invalid"
    exit 1
fi
if test -e "JOB_FOLDER/.lock"
then 
	echo "Error, process is already running"
	exit 1
fi
echo > "$JOB_FOLDER/.lock"
cd /opt/asf/frontend/asfui
. bin/activate
# Call to django to get hosts info 
python3 /opt/asf/frontend/asfui/manage.py remaster_input --input JobID:$1 --parser host --output "$JOB_FOLDER/app.input"
mkdir -p "$JOB_OUTPUT_FOLDER/results"
cp /opt/asf/tools/dicts/default.dict "$JOB_FOLDER/app.dict"
cp /opt/asf/tools/dicts/users.dict "$JOB_FOLDER/app.users"
# Copy for history purposes - don't delete 
for mode in input asf dict users
do cp -v "$JOB_FOLDER/app.$mode" "$JOB_OUTPUT_FOLDER/app.$mode"
done
# Print info for debugging purposes - escape special chars 
#Examples 
#echo hydra -o "$JOB_OUTPUT_FOLDER/results/report.txt" -M "$JOB_OUTPUT_FOLDER/app.input" -L "$JOB_OUTPUT_FOLDER/app.users" -P "$JOB_OUTPUT_FOLDER/app.dict" ftp -V -F 2>&1 \> "$JOB_OUTPUT_FOLDER/app.log"
#echo nmap -Pn -p443 http-methods.nse -iL "$JOB_OUTPUT_FOLDER/app.input" -oA "$JOB_OUTPUT_FOLDER/results/report.txt" 2\>\&1 \> "$JOB_OUTPUT_FOLDER/app.log" \&
# Here is where you put your command - ideally output file should be named as report.txt 
# command should be run at the background so next line can capture process id
#Examples
#hydra -o "$JOB_OUTPUT_FOLDER/results/report.txt" -M "$JOB_OUTPUT_FOLDER/app.input" -L "$JOB_OUTPUT_FOLDER/app.users" -P "$JOB_OUTPUT_FOLDER/app.dict" ftp -V -F 2>&1 > "$JOB_OUTPUT_FOLDER/app.log" &
#-nmap -Pn -p443 http-methods.nse -iL "$JOB_OUTPUT_FOLDER/app.input" -oA "$JOB_OUTPUT_FOLDER/results/report.txt" 2>&1 > "$JOB_OUTPUT_FOLDER/app.log" &
# this line catches above command process id
# Separation for processes IDs considering we are running multiple instances of nmap - isolation basically 
JOB_PID=$!
echo $JOB_PID>"$JOB_FOLDER/pid"
wait $PID
#Remaster output to parse and insert data in db (if required)
#python3 /opt/asf/frontend/asfui/manage.py remaster_output --parser=hydra.ftp --debug --input="$JOB_OUTPUT_FOLDER/results/report.txt" --output=JobID:$1 
# Clean pid 
rm -v "$JOB_FOLDER/pid"
# Can't start until this file is removed
rm -v "$JOB_FOLDER/.lock"